h1{
    margin: 0 0 1em 0;
}

.date-time{
    font-size: 0.75em;
    font-style: italic;
}

input {
    width: 100%;
    margin: 0 0 1em 0;
}

p{
    margin: 0 0 0.5em 0;
}

.post{
    margin: 2em 1em 2em 0;
    padding: 1em 8em 1em 8em;
    border: 1px solid #54525295;
    border-radius: 5px; 
}

.profile-post{
    margin: 2em 1em 2em 0;
    padding: 1em 2em 1em 2em;
    border: 1px solid #54525295;
    border-radius: 5px; 
}

.post-by{
    color: #54525295; 
}

.post-form{
    display: flex;
    justify-content: space-evenly;
}