extends layout

block customcss 
  link(rel='stylesheet' href='/stylesheets/sidebar.css')

block currentPage
    a.nav-link.active(href='/home/about' aria-current='page') About
block content
    .home-area.scrollarea.bg-light.p-5.rounded
        h1 About page
        body
            p Welcome to Hawkstagram! This is a free photo sharing website made just for students at the Illinois Institute of Technology! Here you can upload photos or text posts and share with other Scarlet Hawks. Feel free to edit and delete any of your posts, and comment on your friends’ images! Using the comprehensive knowledge from all the classes taken previously, our team built a three-tier web application called Hawkstagram - an Instagram-inspired app for IIT students. On the frontend, we utilized NodeJS, PUG and Nginx to bring a web-based application for students at IIT to post and view others' photos. As for the backend, we use MariaDB and AWS S3 to store and retrieve our data. Additional features include GoogleAuth single-sign-on API and full automation of deployment using Vagrant, Promox and Terraform on an Ubuntu server. 
            p Overall, this semester was very difficult yet rewarding! We spent many hours learning through trial and error. As we completed most work in pair programming, we spent much of the time mentoring one another as we rotated roles of Project Manager, Lead Developer, UI/UX Developer, and IT Operations and System. It was a busy and challenging sixteen weeks, but our team is very proud of the product we have achieved! 
            p Created by Andrew Haines, Aleks Kamenovic, Grace Sopha, & Maria Soto
